 #buttonsContainer{
    margin: 4pt;
 }
 
 #unsortedValues.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
 }
 
 .node text, .text-out { font: 12px sans-serif; }
 
 .link {
    fill: none;
    stroke: white;
    stroke-width: 2px;
    display: inline-block;
 }
.TreeSort {
    width: 1000px;
    height: 550px;
    background: white !important; 
 }
 
 
 #unsortedValues, #sortedValues {
    height: 28px;
    min-width: 990px;
    display: inline-block;
 }
 
 #unsortedValues div, #sortedValues div{
   align-items: center;
    width:20px;
    display: flex
    height:20px;
    text-align:center;
    line-height: 20px;
    background:lightyellow;
    border: 1px solid white;
    margin: 2px;
    overflow: hidden;
 }
 
 #sortedValues div{
    background: lightgreen;
    width:0;
    display: inline-block;
 }
 
 #descriptionText{
    display:none;
 }
 
 #svgContainer {
    clear:both;
 }